* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100dvh;
}

.sidebar-container {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}